<%= form_for @support_request do |f| %>

  <div class="form-group">
    <%= f.label :idea_name %>
    <%= f.text_field :discussion, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>



  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :message, class: "form-control" %>
  </div>

  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
