<div class="row">
  <div class="col-md-6 col-sm-6">
    <h1>Idea Factory</h1>
    <br>
      <td><%= link_to "New", new_support_request_path, class: "btn btn-primary" %> </td>
  </div>
  <tr>
  <div class="col-md-4 col-sm-4">
    <%= form_tag support_requests_path, method: :get do %>
      <%= text_field_tag :search, @search_term %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</tr>
</div>


<table class="table table-striped">
  <tr>
    <th>discussion</th>
    <th>Email</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @support_requests.each do |sr| %>
    <tr>
      <td><%= sr.discussion.capitalize %></td>
      <td><%= mail_to sr.email %></td>
      <td><%= sr.message %></td>
      <td><%= link_to "Edit", edit_support_request_path(sr), class: "btn btn-info" %></td>
      <td><%= link_to "Delete", sr, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %></td>


      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan="7" class="text-center">
      <%= will_paginate @support_requests, search: @search_term, renderer: BootstrapPagination::Rails %>
    </td>
  </tr>
</table>
